div.menu{
	z-index: 2;
	text-align: center;
	overflow: hidden;
	top: 0;
	position: -webkit-sticky;
  	position: sticky;
  	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0px;
	margin-left: -15px;
	width: 100%;
	background: inherit;
	display: inline-block;
	padding: 0px;
}
div.tekst{
	z-index: 1;
	position: relative;
	text-align: center;
	text-indent: 50px;
}
p{	
	text-align: center;
	font-size: 130%;
	font-family: "Times New Roman", Times, serif;
 	width: 90%;
 	text-align: justify;
 	margin-left: 80px;
}
img{
	border-radius: 10%;
	border: 5px solid black;
	border-width: 100%;
	float: right;
	margin-left: 260px;
	margin-right: 20px;
	margin-bottom: 120px;
	margin-top: 80px;
}
h3{
	text-align: center;
	font-size: 40px;
	font-family: "Comic Sans MS", cursive, serif;
	height: 6px;
	padding-bottom: 70px;
}
h4{
	text-align: center;
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, serif;
	height: 6px;
	padding-bottom:15px;
	padding-top: 50px;
}
.dve{
	text-align: center;
	font-family: "Comic Sans MS", cursive, serif;
	height: 6px;
	padding-bottom:15px;
	padding-top: 10%;
}
a.nazad{
	margin-top: 120px;
	font-size: 90px;
	font-family: "Comic Sans MS", cursive, serif;
	color: #ffcc00;
}